__pycache__/
*.py[cod]
*$py.class
*.so
.eggs/
*.egg-info/
*.egg
dist/
build/

.venv/
venv/
.env

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.mutmut-cache

.idea/
.vscode/
*.swp
.DS_Store
